@model List<ReservationRoomModel>
@{
    ViewData["Title"] = "Booking";
    Layout = "_CustomLayout";
}   
<Section>
<div class="container" >
    <h1>Booking</h1>
    @if(!Model.Any())
    {
        <div class="alert alert-danger" role="alert">
        <i class="bi bi-radioactive"></i> No Rooms found !
        </div>
    }
        else
    {
        @foreach (var item in @Model)
        {
          <div class="card" style="width:380px;display:inline-block;margin:6px">
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.Pe4slExiUbZiMizzcLIhQwHaE2?pid=ImgDet&w=640&h=419&rs=1" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">@item.DateIn</h4>
              <h4 class="card-title">@item.DateOut</h4>
              <h4 class="card-title">@item.NumberOfDays</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <div class="mt-4">
               <a asp-action="OpenEditReservation" asp-controller="Reservation" asp-route-id=@item.Id class="btn btn-primary">Edit</a>
              </div>
               <div class="mt-4">
               <a asp-action="OpenEditReservation" asp-controller="Reservation" class="btn btn-primary">Delete</a>
              </div>
            </div>
          </div>
         }
    }
    <div class="mt-4">
        <a asp-action="AddReservation" asp-controller="Reservation" class="btn btn-primary">Confirm</a>
    </div>
</div>
</Section>

