@model ReservationRoomModel
@{
    Layout = "_CustomLayout";
}

<section class="row container justify-content-between">
    <div class="col-6 ms-5" >
    <h2>Create New <span style="color:#4B49AC;font-weight:bold">Reservation </span></h2>
    <hr />
    <form method="post" asp-action="EditReservation" asp-controller="Reservation" asp-route-id=@Model.Id>
        <div hidden>
            <input asp-for=RoomId value="@ViewBag.RoomId"class="form-control mt-4" />
        </div>
        <div hidden>
            <input asp-for=Id class="form-control mt-4" />
        </div>
        <div hidden>
            <input asp-for=BranchId value="@ViewBag.BranchId"class="form-control mt-4" />
        </div>
         <div>
            <span asp-validation-for="DateIn" class="text-danger"></span>
            <input type="date" asp-for="DateIn" class="form-control mt-4" />
        </div>
        <div>
            <span asp-validation-for="DateOut" class="text-danger"></span>
            <input type="date" asp-for="DateOut" class="form-control mt-4"/>
        </div>

        <div>
            <button type="submit" class="btn btn-primary mt-4" id="submit"><i class="bi bi-check"></i> Confirm</button> 
            <a asp-action="Index" asp-controller="Branch" class="btn btn-outline-secondary mt-4"><i class="bi bi-x"></i> Cancel</a>
        </div>
    </form>
    </div>
</section>
@section Scripts{
    <!--JQuery-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
